<md-toolbar color="accent">
    <div fxLayout="row" fxLayoutAlign="start center">
      <md-icon><i class="fa fa-star" aria-hidden="true"></i></md-icon>
      <span class="app-title">Star Store</span>
    </div>
  <div fxFlex></div>

  <div  [ngSwitch]="true">
    <div *ngSwitchCase="false" fxLayout="row" fxLayoutAlign="end center">
      <button  md-button>Sign In</button>
    </div>
    <div *ngSwitchCase="true" fxLayout="row" fxLayoutAlign="end center">
      <button  md-button>Sign Out</button>
    </div>
  </div>
</md-toolbar>
