<md-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="start center">
      <md-icon class="app-icon">class</md-icon>
      <span class="app-title">Stroe</span>
    </div>
  <div fxFlex></div>

  <div  [ngSwitch]="true">
    <div *ngSwitchCase="false" fxLayout="row" fxLayoutAlign="end center">
      <button  md-button>Sign In</button>
    </div>
    <div *ngSwitchCase="true" fxLayout="row" fxLayoutAlign="end center">
      <button  md-button>Sign Out</button>
    </div>
  </div>
</md-toolbar>
