<md-card>
  <form (ngSubmit)="onSubmit($event)" [formGroup]="details">
    <h2>Enter your details</h2>
    <div fxLayout='row' fxLayoutAlign="space-between" class="form-group">
      <md-input-container fxFlex="48">
        <input mdInput placeholder="Name" #name formControlName="name">
        <md-hint align="end" *ngIf="details.controls['name'].hasError('required') && details.controls['name'].touched">
          You can't leave this empty.
        </md-hint>
      </md-input-container>
      <md-input-container fxFlex="48">
        <input mdInput type="email" placeholder="Email" #email formControlName="email" >
        <md-hint align="end" *ngIf="details.controls['email'].errors && details.controls['email'].touched">
          You can't leave this empty.
        </md-hint>
      </md-input-container>
    </div>

    <div fxLayout='row' fxLayoutAlign="space-between" class="form-group">
      <md-input-container fxFlex="48">
        <input mdInput placeholder="Address" #address formControlName="address">
        <md-hint align="end" *ngIf="details.controls['address'].errors && details.controls['address'].touched">
          You can't leave this empty.
        </md-hint>
      </md-input-container>
      <md-input-container fxFlex="48">
        <input mdInput type="number" placeholder="Phone" #phone formControlName="phone">
        <md-hint align="end" *ngIf="details.controls['phone'].errors && details.controls['phone'].touched">
          You can't leave this empty.
        </md-hint>
      </md-input-container>
    </div>
    <button md-button [disabled]="details.invalid">Ok</button>
  </form>
</md-card>
