<div fxLayout="column">
  <app-header></app-header>
  <div fxLayout='row' fxLayoutAlign="space-between">

    <div fxFlex="50">
      <app-products [tab]="tab" [products]="products" (add)="addProduct($event)"></app-products>
    </div>

    <div fxFlex="50">
      <md-card>
        <app-form-details [details]="details" (submit)="createOrder($event)"></app-form-details>
      </md-card>
      <md-card *ngFor="let item of cart">
        <md-card-title>{{item.title}}</md-card-title>
          {{item | json}}
      </md-card>
      <div>Total: {{sum}}</div>
    </div>
  </div>
</div>
